/* ! Block Intro */

.block-ps-intro{ height: 100vh;display: flex; align-items: center;}
.block-ps-intro .grid{width: 100%;}

.text-container{height: 300px; position: relative; display: block;width: 100%;}
.text-container h3{font-size: 80px; font-weight:400; max-width: 1000px}
.text-container__hidden{position: absolute; top:20px; display: inline-block;width: 100%; opacity: 0; animation: slide 10s 1 cubic-bezier(.215, .61, .355, 1); animation-delay: 1.2s}
.text-container__hidden:nth-child(2){animation-delay: 4.2s}
.text-container__hidden:nth-child(3){animation-delay: 7.2s}
.text-container__hidden:nth-child(4){animation: slidelast 10s 1 forwards cubic-bezier(.215, .61, .355, 1); animation-delay: 10.2s; }

.text-container .button{animation: pulse 2s 1 cubic-bezier(.215, .61, .355, 1); animation-delay: 10.2s;}

@keyframes slide {
  0%{ top:40px; opacity: 0}
  5%{ top:0px; opacity: 1}
  20%{ top:0px; opacity: 1}
  25%{ top:0px; opacity: 0.5}
  26.5%{ top:0px; opacity: 0.1}
  30%{ top:50px; opacity: 0}
}

@keyframes slidelast {
  0%{ top:40px; opacity: 0}
  5%{ top:0px; opacity: 1}
  10%{ top:0px; opacity: 1}
  100%{ top:0px; opacity: 1}
}

@keyframes pulse {
  from {transform: scale3d(.9, .9, .9);}
  50% {transform: scale3d(1.05, 1.05, 1.05);}
  to {transform: scale3d(1, 1, 1);}
}

// @keyframes tada {
//   from {transform: scale3d(1, 1, 1);}

//   10%,20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
//   30%,50%,70%,90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
//   40%,60%,80% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}

//   to {transform: scale3d(1, 1, 1);}
// }


@media (max-width: 768px) {
  .text-container h3{font-size: 40px;}
  .text-container{height: 300px;}
}


/* ! Block Big Text */

.block-ps-big-text strong{font-size: 100px;color:$color-02; display: block;}



/* ! Block Panel */

.block-ps-panel{padding: 100px;}
.block-ps-panel__img img{height: 600px;width: 100%;max-width: 550px; display: block; margin: 0 auto;object-fit: cover}
.block-ps-panel__text{max-width: 550px; display: flex; width: 100%; height: 100%; align-items: center;padding: 20px;}

@media (max-width: 767px) {
  .block-ps-panel{ padding: 20px 0;}
  .block-ps-panel__text{padding: 20px 0;}
  .block-ps-panel__img img{height: 260px;}
  .block-ps-panel__right .col-40 {order: 2}
}


/* ! Block Cover */

.block-ps-cover{display: flex; align-items: center;position: relative; height: 600px;}
.block-ps-cover:before{ content: ' '; background: #000;opacity: 0.5; position: absolute; top:0; left:0; width: 100%;height: 100%;z-index: 0}
.block-ps-cover .grid{max-width: 1180px; width: 100%; margin: 0 auto; padding: 80px 0 150px 0;}



/* ! Block Text */

.block-ps-text{display: flex; align-items: center;position: relative}
.block-ps-text .grid{max-width: 1180px; width: 100%; margin: 0 auto;}
.block-ps-text{max-width: 750px; margin: 0 auto; }


/* ! Block Columns */
.block-ps-columns img{width: 100%; height: 300px; object-fit: cover; margin-bottom: 20px;}

@media (max-width: 767px) {
  .block-ps-columns.grid{display: block;}
  .block-ps-columns.grid .col{margin-bottom: 60px;}
}


.block-test{border: 1px solid red;}