/* ! Helpers */
.m-0 { margin: 0 !important; }
.m-1 { margin: 20px; }
.m-2 { margin: 50px; }
.m-3 { margin: 100px; }
.m-4 { margin: 180px; }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 20px; }
.mt-2 { margin-top: 50px; }
.mt-3 { margin-top: 100px; }
.mt-4 { margin-top: 180px; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 20px; }
.mb-2 { margin-bottom: 50px; }
.mb-3 { margin-bottom: 100px; }
.mb-4 { margin-bottom: 180px; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 20px; }
.ml-2 { margin-left: 50px; }
.ml-3 { margin-left: 100px; }
.ml-4 { margin-left: 180px; }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 20px; }
.mr-2 { margin-right: 50px; }
.mr-3 { margin-right: 100px; }
.mr-4 { margin-right: 180px; }

@media (max-width: 767px) {
  .m-4 { margin: 100px; }
  .mt-4{margin-top: 100px}
  .ml-4 { margin-left: 100px; }
  .mr-4 { margin-right: 100px; }
  .mb-4 { margin-bottom: 100px; }

  .mt-sma-0{margin-top: 0;}
  .mt-sma-1{margin-top: 20px;}
  .mt-sma-2{margin-top: 40px;}
  .mt-sma-3{margin-top: 80px;}

  .mb-sma-0{margin-bottom: 0;}
  .mb-sma-1{margin-bottom: 20px;}
  .mb-sma-2{margin-bottom: 40px;}
  .mb-sma-3{margin-bottom: 80px;}
}


.img-res{width: 100%;}
.padding-all{padding: 20px;}
.page-min-height{min-height: 101vh}
.display-none{display: none;}
.max-width{max-width: 600px; margin: 10px auto;}
.text-center{text-align: center;}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white p{color:$white}

.text-white .button{color:$white; border-color: $white}

.text-center h1,
.text-center h2,
.text-center h3,
.text-center h4,
.text-center p{text-align: center;}


.delay-1{transition-delay: .1s!important}
.delay-2{transition-delay: .2s!important}
.delay-3{transition-delay: .3s!important}
.delay-4{transition-delay: .4s!important}
.delay-5{transition-delay: .5s!important}
.delay-6{transition-delay: .6s!important}
.delay-7{transition-delay: .7s!important}
.delay-8{transition-delay: .8s!important}
.delay-9{transition-delay: .9s!important}
.delay-10{transition-delay: 1s!important}
.delay-11{transition-delay: 1.1s!important}
.delay-12{transition-delay: 1.2s!important}
.delay-13{transition-delay: 1.3s!important}
.delay-14{transition-delay: 1.4s!important}
.delay-15{transition-delay: 1.5s!important}
.delay-16{transition-delay: 1.6s!important}
.delay-17{transition-delay: 1.7s!important}
.delay-18{transition-delay: 1.8s!important}
.delay-19{transition-delay: 1.9s!important}
.delay-20{transition-delay: 2s!important}