/* ! Helpers */

.m-0 { margin: 0 !important; }
.m-1 { margin: 20px; }
.m-2 { margin: 50px; }
.m-3 { margin: 100px; }
.m-4 { margin: 180px; }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 20px; }
.mt-2 { margin-top: 50px; }
.mt-3 { margin-top: 100px; }
.mt-4 { margin-top: 180px; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 20px; }
.mb-2 { margin-bottom: 50px; }
.mb-3 { margin-bottom: 100px; }
.mb-4 { margin-bottom: 180px; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 20px; }
.ml-2 { margin-left: 50px; }
.ml-3 { margin-left: 100px; }
.ml-4 { margin-left: 180px; }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 20px; }
.mr-2 { margin-right: 50px; }
.mr-3 { margin-right: 100px; }
.mr-4 { margin-right: 180px; }

@media (max-width: 767px) {
  .m-4 { margin: 100px; }
  .mt-4{ margin-top: 100px}
  .ml-4 { margin-left: 100px; }
  .mr-4 { margin-right: 100px; }
  .mb-4 { margin-bottom: 100px; }

  // .block-ps-big-text.mt-4{margin-top:-30px;}
  .block-ps-cover .ml-4 { margin-left: 30px; }
  .menu-hidden .ml-3 { margin-left: 0px; }

  .mt-sma-0{margin-top: 0;}
  .mt-sma-1{margin-top: 20px;}
  .mt-sma-2{margin-top: 40px;}
  .mt-sma-3{margin-top: 80px;}

  .mb-sma-0{margin-bottom: 0;}
  .mb-sma-1{margin-bottom: 20px;}
  .mb-sma-2{margin-bottom: 40px;}
  .mb-sma-3{margin-bottom: 80px;}
}

@media (max-width:991px){
  .ml-4 { margin-left: 100px; }
}

.margin-auto{margin: 0 auto;}
.img-res{width: 100%;}
.padding-all{padding: 20px;}
.page-min-height{min-height: 101vh}
.display-none{display: none;}
.display-flex{display: flex;}
.max-width{max-width: 600px; margin: 10px auto;}
.text-center{text-align: center;}

.vertical-center{display: flex; align-items: center; height: 100vh;}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white p{color:$white}

.text-white .button{color:$white; border-color: $white}

.text-center h1,
.text-center h2,
.text-center h3,
.text-center h4,
.text-center p{text-align: center;}



/* ------------- */
/* ! Grid System */
/* ------------- */


.grid { max-width: 1200px; display: flex; flex-flow: row; flex-wrap: wrap;}
// .grid { margin: 0 auto; max-width: 1200px; display: flex; flex-flow: row; flex-wrap: wrap;}
.grid--center{justify-content: center;}

.col{ flex: 1;}

.grid [class*='col'] { position: relative;padding: 0 15px;}


.col-20{ width: 20%; }
.col-25{ width: 25%; }
.col-30{ width: 30%; }
.col-33{ width: 33.33%; }
.col-40{ width: 40%; }
.col-50{ width: 50%; }
.col-60{ width: 60%; }
.col-70{ width: 70%; }
.col-80{ width: 80%; }
.col-90{ width: 90%; }
.col-100{ width: 100%; }

@media (max-width: 991px) {

  .tab-20 { width: 20%; }
  .tab-25 { width: 25%; }
  .tab-33 { width: 33.33%; }
  .tab-50 { width: 50%; }
  .tab-100 { width: 100%; }
}

@media (max-width: 768px) {
  .grid [class*='col'] { width: 100%;}
  .sma-20 { width: 20%; }
  .sma-25 { width: 25%; }
  .sma-33 { width: 33.33%; }
  .sma-50 { width: 50%; }
  .sma-100 { width: 100%; }

  .sma-hide{display:none}
}

/* Nested Grid */
.grid .grid{
  margin-left: -15px;
  margin-right: -15px;
}


