/* ! Locomotive Scroll  */

[data-scroll-section]{position: relative;}
// [data-scroll-section]{position: relative; display: block;}
.wp-block-image img,
.img-article{height: 400px;width: 100%;object-fit: cover;}
.img-article-small{height: 180px;width: 100%;object-fit: cover;}

@media (max-width: 767px) {
  .wp-block-image img,
  .img-article,
  .img-article-small{height: 240px;}
}
