/* ! Locomotive Scroll  */

[data-scroll-section]{position: relative;}
// [data-scroll-section]{position: relative; display: block;}
.wp-block-image img,
.img-article{height: 400px;width: 100%;object-fit: cover;}
.img-article-small{height: 180px;width: 100%;object-fit: cover;}

@media (max-width: 767px) {
  .wp-block-image img,
  .img-article,
  .img-article-small{height: 240px;}
}

/* ! Scroll Color Change */

body.bg-dark{background: $black; color:$white;}
body.bg-dark h1,
body.bg-dark h2,
body.bg-dark h3,
body.bg-dark h4,
body.bg-dark p {color:$white;}

body.bg-dark .button{color: $white;border-color: $white;}